.project-list-container {
  padding: 20px 80px;
  font-family: Arial, sans-serif;
  color: #1e1e1e;
}

.project-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo-section {
  display: flex;
  align-items: center;
  gap: 10px;
}

.logo-img {
  width: 40px;
  height: auto;
}

.logo-section h2 {
  font-size: 30px;
  font-weight: bold;
}

.logo-section span {
  color: #bf71e3;
}

.header-icons {
  display: flex;
  gap: 20px;
}

.project-list-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 15px 0 20px;
}

.project-list-header h2 {
  font-size: 30px;
  color: #7d00b5;
}

.create-project-btn {
  background-color: #1c1234;
  color: white;
  padding: 10px 16px;
  border-radius: 8px;
  font-size: 14px;
  border: none;
  cursor: pointer;
  display: flex;
  align-items: center;
  gap: 6px;
}
.project-grid {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}

.project-card {
  display: flex;
  align-items: center;
  border: 1px solid #399cff;
  border-radius: 10px;
  padding: 12px 16px;
  width: 260px;
  background-color: #fff;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.06);
}

.project-icon {
  width: 50px;
  height: 50px;
  border-radius: 8px;
  font-weight: bold;
  font-size: 18px;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 14px;
}

.project-details h3 {
  margin: 0;
  font-size: 16px;
  font-weight: 600;
}

.project-details p {
  margin: 4px 0;
  font-size: 14px;
  color: #555;
}

.timestamp {
  font-size: 12px;
  color: gray;
}

.upload-project-btn {
  background-color: #6a1b9a;
  color: white;
  border: none;
  padding: 10px 16px;
  border-radius: 6px;
  cursor: pointer;
  font-size: 14px;
  display: flex;
  align-items: center;
  gap: 6px;
}
.upload-project-btn:hover {
  background-color: #4a148c;
}
